/* styles.css */

* {
	font-family: Arial;
}


.header {
	margin-left: -1vw;
	width: 101vw;
	background-color: #0B1638;
	display: grid;
  	place-items: center; 
	height: 6rem;
    border-bottom: 0.25vw solid #000000;
	position: fixed; 
	top: 0;
	display: flex;
	flex-direction: row; 
	height: 6rem;
	gap: 3vw;
	justify-content: center;
}


#home {
	scroll-margin-top: 6rem;
}

#graphicDesigns {
	scroll-margin-top: 6rem;
}

#appPrototypes {
	scroll-margin-top: 6rem;
}

#aboutMe {
	scroll-margin-top: 6rem;
}


h1 {
    /* font-size: 3.5vw; */ 
	font-size: 2.6rem; 
	color: white; 
    
}

h2 {
	/*font-size: 3vw*/
	font-size: 2.6rem; 
	color: white; 
}

h3 {
	font-size: 2rem; 
	color: rgba(255, 255, 255, 0.929); 
}


p1 {
	font-size: 1.4rem; 
	color: rgba(255, 255, 255, 0.833); 
}

p2 {
	font-size: 1rem; 
	color: rgba(255, 255, 255, 0.833); 
}

a:link { 
	text-decoration:none;
	color: white; 
}

a:visited { 
	color: white; 
}

a:hover { 
	color: purple; 
}

a:active { 
	color: white; 
}

.evenlySpacedImages {
	display: flex; 
	align-items: top; 
	justify-content: center;
	justify-content: space-between; 
	text-align: center; 
}



@media screen and (width > 800px) 
{
	.appPrototype {
		display: flex;
		width: 96%; 
		margin-bottom: 4rem;
		flex-direction: row; 
		gap: 4rem;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.appPrototype img {
		width: 100%; 
		height: audo; 
	}

	.designsContainer {
		display: flex;
		justify-content: flex-start;
		width: 96%; 
		flex-direction: row; 
		gap: 8%;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 4rem; 
	}

	.graphicDesignImg {
		display: flex;
		flex-direction: column; 
		width: 46%;
		background-color: rgba(255, 255, 255, 0.432); 
	}
	
	.designsContainer figcaption {
		display: flex;
		flex-direction: column; 
		justify-content: flex-end;
		background-color: blue; 
	}
	
	h4 {
		font-size: 3vw; 
		color: white; 
	}
	.finalPrototypeImage {
		display: flex; 
		align-items: top; 
		justify-content: center;
		text-align: center; 
		width: 100%;
	}

	.finalPrototypeImage img {
		margin-top: 3vw; 
		max-width: 65%; 
		background-color: purple; 
	}

	.evenlySpacedImages img{
		margin-top: 3vw; 
		height: 30vw; 
		background-color: purple; 
	}
	
		
}

@media screen and (width < 800px) {
	.appPrototype {
		display: flex;
		margin-bottom: 4rem;
		flex-direction: column; 
		gap: 0.5rem;
		grid-template-columns: repeat(1, 1fr);
				
	}

	.appPrototype img { 
		width: 100%;  
		height: audo; 
		object-fit: cover; 
	}

	.designsContainer {
		display: flex;
		justify-content: flex-start;
		width: 96%; 
		margin-bottom: 4rem;
		flex-direction: column; 
		gap: 4rem;
		grid-template-columns: repeat(1, 1fr);
	}

	.graphicDesignImg {
		display: flex;
		justify-content: flex-start;
		justify-content: center;
		flex-direction: column; 
		width: 100%;
		margin-bottom: 1.5rem;
	}

	h4 {
		font-size: 3.5vw; 
		color: white; 
	}

	.finalPrototypeImage {
		display: flex; 
		align-items: top; 
		justify-content: center;
		text-align: center; 
		width: 100%;
	}

	.finalPrototypeImage img {
		margin-top: 3vw; 
		max-width: 100%; 
		background-color: purple; 
	}

	.evenlySpacedImages {
		display: flex;
		justify-content: flex-start;
		width: 96%; 
		margin-bottom: 4rem;
		flex-direction: column; 
		gap: 4rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.evenlySpacedImages img{
		
		margin-top: 3vw; 
		height: 55vw; 
		background-color: purple; 
	}

	
}

.prototypeText {
	display: flex; 
	flex-direction: column; 
}

.finalPrototypeImage img:hover{
	opacity:80%; 
}


.evenlySpacedImages img:hover{
	opacity:80%; 
}

.linkImages {
	display: flex;
}

.linkImages img {
	background-color: purple; 
}

.linkImages img:hover {
	opacity: 80%; 
}

.textDescrip {
	display: flex;
	justify-content: flex-start;
	margin-top: -2vw;
	flex-direction: column; 
	column-gap: 5vw;
	width: 42vw; 
}

.rect {
	background-color: #101f4d; 
	width: 4rem; 
}

.seeMore {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 0.5vw;           /* Adds space between the text and the border */
	width: 12rem;            /* Sets the width of the box */
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;    
	margin-right: 3vw;
	background-color: #00A7E1; /* Optional background color */
	float: right;
	margin-top: 4vw;
}