/* styles.css */

* {
	font-family: Arial;
}

.header {
	margin-left: -1vw;
	width: 101vw;
	background-color: #0B1638;
	display: grid;
  	place-items: center; 
	height: 7vw;
    border-bottom: 0.25vw solid #000000;
	position: fixed; 
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: row; 
	gap: 5vw;
}

#home {
	scroll-margin-top: 7vw;
}

#graphicDesigns {
	scroll-margin-top: 7vw;
}

#appPrototypes {
	scroll-margin-top: 7vw;
}

#aboutMe {
	scroll-margin-top: 7vw;
}

h1 {
    font-size: 3.5vw; 
	color: white; 
    
}

h2 {
	font-size: 3vw; 
	color: white; 
}

h3 {
	font-size: 2.5vw; 
	color: rgba(255, 255, 255, 0.929); 
}

p1 {
	font-size: 1.5vw; 
	color: rgba(255, 255, 255, 0.833); 
}

p2 {
	font-size: 1.2vw; 
	color: rgba(255, 255, 255, 0.833); 
}

a:link { 
	text-decoration:none;
	color: white; 
}

a:visited { 
	color: white; 
}

a:hover { 
	color: purple; 
}

a:active { 
	color: white; 
}


.appPrototype {
	height: 42vw; 
	margin-bottom: 5vw;
	background-color: blue; 
}

.graphicDesignImage {

	display: flex;
	justify-content: flex-start;
	justify-content: center;
	flex-direction: row; 
	margin-bottom: 2vw;  
	background-color: rgba(255, 255, 255, 0.432); 
}

.graphicDesignDescrip {
	display: flex;
	justify-content: flex-start;
	justify-content: center;
	flex-direction: row; 
	column-gap: 5vw;
}

.evenlySpacedImages {
	display: flex; 
	align-items: top; 
	justify-content: center;
	gap: 8vw; 
}

.evenlySpacedImages img{
	margin-top: 3vw; 
	max-height: 30vw; 
	background-color: purple; 
}

.evenlySpacedImages img:hover{
	opacity:80%; 
}

.linkImages {
	display: flex;
}

.linkImages img {
	background-color: purple; 
}

.linkImages img:hover {
	opacity: 80%; 
}

.textDescrip {
	display: flex;
	justify-content: flex-start;
	margin-top: -2vw;
	flex-direction: column; 
	column-gap: 5vw;
	width: 42vw; 
}

.rect {
	background-color: #101f4d; 
	width: 5vw; 
}

.seeMore {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 0.5vw;           /* Adds space between the text and the border */
	width: 15vw;            /* Sets the width of the box */
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;    
	margin-right: 3vw;
	background-color: #00A7E1; /* Optional background color */
	float: right;
	margin-top: 4vw;
}